
<app-header></app-header>

<!-- maps -->

<table>
  <tr>
    <td>
      <div id="map"></div>
    </td>
    <td>
      <!-- Dividing the page in two -->
      <table>

        <tr>
          <td class = "reviewsByUser">
            <div >

              <div>
                <div class="" >
                  <h4 style="text-align: center;">D2D Lake Shore Warehouse</h4>
                  <h6>Reviewer Name:</h6>
                  <p>Hexaware</p>
                  <h6 >Review:</h6>
                  <p>1. My interaction with the service was fantastic. It provided a highly positive and satisfying experience.</p>

                </div>
              </div>
            </div>

          </td>
        </tr>
        <br>
        <tr>
          <td class = "reviewsByUser">
            <div >
              <div>
                <div class="" >
                  <h4 style="text-align: center;">D2D Bridgeport Warehouse</h4>
                  <h6>Reviewer Name:</h6>
                  <p>Hyundai</p>
                  <h6 >Review:</h6>
                  <p>1. My encounter with the service was excellent, offering a notably positive and enjoyable experience. I love their service.</p>

                </div>
              </div>
            </div>

          </td>
        </tr>
        <br>
        <tr>
          <td class = "reviewsByUser">
            <div >

              <div>
                <div class="" >
                  <h4 style="text-align: center;">D2D Fuller Park Warehouse</h4>
                  <h6>Reviewer Name:</h6>
                  <p>Head of Transportaion</p>
                  <h6 >Review:</h6>
                  <p>1. The SNS service stands out as one of my preferred choices. It significantly simplifies the entire process.</p>

                </div>
              </div>
            </div>

          </td>
        </tr>
        <br>
        <tr>
          <td class = "reviewsByUser">
            <div >

              <div>
                <div class="" >
                  <h4 style="text-align: center;">D2D Downtown Park</h4>
                  <h6>Reviewer Name:</h6>
                  <p>President</p>
                  <h6 >Review:</h6>
                  <p>1. The SNS service is at the forefront of my preferred options, streamlining the entire process and making it exceptionally convenient.</p>

                </div>
              </div>
            </div>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

